.Headshot {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 300px;
    margin-top: -200px;
    width: 400px;
    margin-left: -200px;
    text-align: center;
    border-radius: 20px;
}

.Intro {
    position: absolute;
    left: 50%;
    top: 30%;
    height: 300px;
    margin-top: -200px;
    width: 400px;
    margin-left: -200px;
    text-align: center;
    color: white;
}

.Welcome {
    font-size: 35px;
}

.homeName {
    font-size: 40px;
    margin-top: 5%;
}

.myTitle {
    font-size: 25px;
    margin-top: 5%;
}

