a {
    font-weight: 500;
    /* color: purple; */
    text-decoration: inherit;
    margin-right: 2rem;
  }

.Nav{
    display: flex;
    justify-content: right;
    border-bottom: .2rem solid black;
    width: 90%;
    margin: auto;
    color: white;
}
.navName {
  color: rgb(10, 10, 195);
  font-weight:700;
}


.Nav-Link:hover {
  color: rgb(10, 10, 195);
}

